@model RestaurantMS.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee_Id" />
            <div class="form-group">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SIN" class="control-label"></label>
                <input asp-for="SIN" class="form-control" />
                <span asp-validation-for="SIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager_ID" class="control-label"></label>
                <input asp-for="Manager_ID" class="form-control" />
                <span asp-validation-for="Manager_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account_Id" class="control-label"></label>
                <input asp-for="Account_Id" class="form-control" />
                <span asp-validation-for="Account_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
