@{
    ViewData["Title"] = "Place an Order";
}
<div>
    <hr class="invisiblehr">
    <div class="jumbotron text-center">
        <div class="container"></div>
            <h4 class="display-4">Place an Order</h4>
            <hr>
        </div>
    </div>

</div>