@{
    ViewData["Title"] = "Home Page";
}
<div id="index-bg">
    <hr class="invisiblehr">
    <div class="jumbotron text-center">
        <div class="container"></div>
            <h1 class="display-3">Welcome to ||RESTAURANT NAME||</h1>
            <h4>Our mission is to serve great food, provide superb service, and ensure each customer leaves with a smile! </h4>
            <hr class="my-4">
            <p><b>Our hours are:</b></p>
            <p>
                <b>SUN:</b> 12:00 - 18:00 | 
                <b>MON:</b> 10:00 - 20:00 | 
                <b>TUES:</b> 10:00 - 20:00 | 
                <b>WED:</b> 10:00 - 20:00 | 
                <b>THURS:</b> 10:00 - 20:00 | 
                <b>FRI:</b> 10:00 - 22:00 | 
                <b>SAT:</b> 10:00 - 22:00 </p>
        </div>
    </div>

</div>