@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>Your data is totally safe with us and is definitely not stored in a local database on Tony's computer! 😉</p>
