@model RestaurantMS.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order_number" />
            <div class="form-group">
                <label asp-for="Driver_ID" class="control-label"></label>
                <input asp-for="Driver_ID" class="form-control" />
                <span asp-validation-for="Driver_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_ID" class="control-label"></label>
                <input asp-for="Customer_ID" class="form-control" />
                <span asp-validation-for="Customer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delivery_time" class="control-label"></label>
                <input asp-for="Delivery_time" class="form-control" />
                <span asp-validation-for="Delivery_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_cost" class="control-label"></label>
                <input asp-for="Total_cost" class="form-control" />
                <span asp-validation-for="Total_cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction_time" class="control-label"></label>
                <input asp-for="Transaction_time" class="form-control" />
                <span asp-validation-for="Transaction_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store_ID" class="control-label"></label>
                <input asp-for="Store_ID" class="form-control" />
                <span asp-validation-for="Store_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
