@model RestaurantMS.Models.Review

@{
    ViewData["Title"] = "Write a Review";
}

<hr class="invisiblehr">
<h4 class="display-4 text-center">Write a Review</h4>
<hr>

<p class="text-center">We would appreciate you telling us about your experience!</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" class="form-control">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store_ID" class="control-label"></label>
                <input asp-for="Store_ID" class="form-control" />
                <span asp-validation-for="Store_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_ID" class="control-label"></label>
                <input asp-for="Customer_ID" class="form-control" />
                <span asp-validation-for="Customer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
