@{
    ViewData["Title"] = "Visit Us";
}

<div>
    <hr class="invisiblehr">
    <div class="jumbotron text-center">
        <div class="container"></div>
            <h4 class="display-4">Visit Us</h4>
            <hr>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-weight-pght">Our Hours <i class="lni lni-timer"></i></h2>
                <p><b>Sunday:</b> 12:00 - 18:00</p>
                <p><b>Monday:</b> 10:00 - 20:00</p>
                <p><b>Tuesday:</b> 10:00 - 20:00</p>
                <p><b>Wednesday:</b> 10:00 - 20:00</p>
                <p><b>Thursday:</b> 10:00 - 20:00</p>
                <p><b>Friday:</b> 10:00 - 22:00</p>
                <p><b>Saturday:</b> 10:00 - 22:00</p>
            </div>

            <div class="col-md-6">
                <h2 class="font-weight-pght text-center">Contact Information <i class="lni lni-headphone-alt"></i></h2>
                <p><b><i class="lni lni-map-marker"></i> Address: </b> 123 Main Ave, North Pole, H0H 0H0, Canada</p>
                <p><b><i class="lni lni-phone"></i> Phone: </b> (111) 222-3333</p>
                <p><b><i class="lni lni-envelope"></i> Email: </b> contact@JoesDiner.ca</p>
            </div>
        </div>
    </div>
</div>
